.game-board {
  background: rgb(203, 232, 255);
  width: 100%;
  height: auto;
}

.lobby-section {
  width: 60%;
  height: 100vh;
}

.board-section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.board-section > div {
  margin-bottom: 10px;
}

.board-section .label {
  font-weight: bold;
  margin-right: 10px;
}

.board-section .value {
  font-weight: normal;
}

.game-board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-board-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-board-row > * {
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .game-board-page {
    flex-direction: column;
    align-items: center;
  }

  .lobby-section {
    width: 100%;
  }

  .board-section {
    margin-bottom: 20px;
  }

  .game-board {
    width: 100%;
  }
}

.player-ranking {
  margin-bottom: 20px;
}

.player-ranking h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.player-details {
  margin-top: 20px;
}

.player-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.player-details table {
  margin-top: 10px;
}

.player-details th {
  background-color: #ddd;
}

.player-details tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.player-details td:last-child {
  text-transform: capitalize;
  font-weight: bold;
}

.player-details td:last-child::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.player-details td:last-child::before.correct {
  background-color: green;
}

.player-details td:last-child::before.incorrect {
  background-color: red;
}

.col-1 {
  display: block;
  width: 30%;
}
.score-container {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat-image {
  width: 100%;
}
.gameScoreImage {
  margin-top: 2em;
  width: 100%;
  height: auto;
}
.score {
  box-sizing: border-box;
  overflow-y: auto;
  left: 12%;
  bottom: 5%;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 76%;
  height: 50%;
  padding: 5px 5px;
  font-size: 12px !important;
}
.scoreTable {
  width: 100%;
}
.scoreTableHead {
  text-align: left;
}
.scoreCol,
.scoreTableHeadScore {
  text-align: right;
}
.col-2 {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gameBoardImage {
  width: 100%;
  height: auto;
  /* position: fixed; */
}
.main-game-board {
  overflow-y: auto;
  left: 8%;
  top: 26%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 84%;
  height: 63%;
}
.col-3 {
  position: relative;
  display: block;
  width: 30%;
}

.player-board {
  margin-top: 2em;
  width: 100%;
  height: auto;
}
.players-board {
  box-sizing: border-box;
  overflow-y: auto;
  left: 10%;
  bottom: 12.5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 80%;
  height: 67%;
  padding: 5px 5px;
  font-size: 12px !important;
}
.currentPlayerName {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}
.pName {
  color: rgb(0, 173, 0);
}

.main-game-board::-webkit-scrollbar {
  background-color: transparent;
}
.main-game-board::-webkit-scrollbar {
  width: 5px !important;
}

.main-game-board::-webkit-scrollbar-thumb {
  background-color: rgb(255, 176, 242);
  border-radius: 30px;
}

.board-for-mobile {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .score {
    left: 12%;
    bottom: 5%;
    width: 76%;
    height: 62%;
  }
  .players-board {
    left: 10%;
    bottom: 12.5%;
    width: 80%;
    height: 67%;
  }
}
@media only screen and (max-width: 1224px) {
  .score {
    left: 12%;
    bottom: 6%;
    width: 76%;
    height: 60%;
  }
  .players-board {
    left: 10%;
    bottom: 12.5%;
    width: 80%;
    height: 67%;
  }
}
@media only screen and (max-width: 1224px) {
  .players-board {
    height: 66%;
  }
}
@media only screen and (max-width: 1024px) {
  .score {
    left: 12%;
    bottom: 6%;
    width: 76%;
    height: 58%;
    font-size: 12px;
  }
  .players-board {
    height: 65%;
  }
}
@media only screen and (max-width: 924px) {
  .score {
    left: 12%;
    bottom: 5%;
    width: 75%;
    height: 58%;
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .col-1,
  .col-3 {
    display: none;
  }
  .board-for-mobile {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
  }
  .board-for-mobile .col-1 {
    display: block;
    width: 50%;
  }
  .board-for-mobile .col-3 {
    display: block;
    width: 50%;
  }
  .board-for-mobile .col-1 .score-container .score {
    height: 64%;
    bottom: 6%;
  }
  .score {
    left: 12%;
    bottom: 4%;
    width: 76%;
    height: 35%;
  }
}
@media only screen and (max-width: 600px) {
  .board-for-mobile .col-1 .score-container .score {
    height: 60%;
    bottom: 6%;
  }
}

@media only screen and (max-width: 320px) {
  .board-for-mobile .col-1 .score-container .score {
    height: 56%;
    bottom: 6%;
  }
}
