.game-board {
  height: auto;
  background: rgb(203, 232, 255);
  width: 100%;
}

.lobby-section {
  width: 60%;
  height: 100vh;
}

.board-section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.board-section > div {
  margin-bottom: 10px;
}

.board-section .label {
  font-weight: bold;
  margin-right: 10px;
}

.board-section .value {
  font-weight: normal;
}

.game-board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-board-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-board-row > * {
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .game-board-page {
    flex-direction: column;
    align-items: center;
  }

  .lobby-section {
    width: 100%;
  }

  .board-section {
    margin-bottom: 20px;
  }

  .game-board {
    width: 100%;
  }
}
.detailsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.detailsTable td,
.detailsTable th {
  padding: 8px;
  border: 1px solid #ddd;
}

.detailsTable th {
  text-align: left;
  background-color: #f2f2f2;
}

.detailsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.detailsTable tr:hover {
  background-color: #ddd;
}

.player-ranking {
  margin-bottom: 20px;
}

.player-ranking h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.player-details {
  margin-top: 20px;
}

.player-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.player-details table {
  margin-top: 10px;
}

.player-details th {
  background-color: #ddd;
}

.player-details tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.player-details td:last-child {
  text-transform: capitalize;
  font-weight: bold;
}

.player-details td:last-child::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.player-details td:last-child::before.correct {
  background-color: green;
}

.player-details td:last-child::before.incorrect {
  background-color: red;
}

.main-graphical-gameboard-container {
  box-sizing: border-box;
  padding: 30px 0px;
  height: 120vh;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: start;
  width: 100%;
}
.game-name {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
}
.game-name img {
  height: 70%;
  width: auto;
}
.col-1 {
  position: relative;
  display: block;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score {
  height: 300px;
  width: 100%;
  background-image: url("../../public/images/game-soreboard.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: aqua;
}
.col-2 {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  /* background-image: url("../../public/images/game-board.png"); */
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gameBoardImage {
  width: 100%;
  height: auto;
  /* position: fixed; */
}
.col-3 {
  position: relative;
  display: block;
  height: 100%;
  width: 20%;
  background-image: url("../../public/images/game-player.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-game-board {
  overflow-y: auto;
  left: 8%;
  top: 26%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 84%;
  height: 63%;
}

.timer-container {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 10px;
  box-shadow: 2px 2px 5px #aaa;
}
.timer-container img {
  height: 90%;
  width: auto;
}
.timer {
  width: 200px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  font-family: "Bungee", cursive;
}
.timer-text {
  position: absolute;
  color: #ffffff;
}
.main-game-board::-webkit-scrollbar {
  background-color: transparent;
}
.main-game-board::-webkit-scrollbar {
  width: 5px !important;
}

.main-game-board::-webkit-scrollbar-thumb {
  background-color: rgb(255, 176, 242);
  border-radius: 30px;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .main-graphical-gameboard-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: start;
    width: 100%;
  }
  .col-1,
  .col-3 {
    display: none;
  }
}
