.join-game-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/images/join.webp");
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-game-form-container {
  width: 400px;
}
.join-game-title {
  font-family: "Press Start 2P", cursive;
  line-height: 80px;
  font-size: 25px;
  color: #fc6c00;
  text-align: center;
}
