.square {
  width: 5em;
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
.lock {
  width: 50%;
}
.square:hover {
  transform: scale(0.9);
}

.square.active {
  background-color: #b2dfdb;
}

.counter {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.question-text {
  font-size: 24px;
  margin-bottom: 8px;
}

.answer-input {
  font-size: 24px;
  margin-bottom: 8px;
}

.submit-button {
  font-size: 24px;
}

.answer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.empty-square {
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 1440px) {
  /*Tablets [1025px -> 1440px]*/
  .square {
    width: 5em;
    height: 5em;
  }
  .counter {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1340px) {
  /*Tablets [1025px -> 1440px]*/
  .square {
    width: 4.7em;
    height: 4.7em;
  }
}
@media only screen and (max-width: 1240px) {
  /*Tablets [1025px -> 1440px]*/
  .square {
    width: 4.5em;
    height: 4.5em;
  }
}
@media only screen and (max-width: 1190px) {
  /*Tablets [1025px -> 1440px]*/
  .square {
    width: 4.3em;
    height: 4.3em;
  }
}
@media only screen and (max-width: 1130px) {
  /*Tablets [1025px -> 1440px]*/
  .square {
    width: 4.1em;
    height: 4.1em;
  }
}
@media only screen and (max-width: 1080px) {
  /*Tablets [1025px -> 1440px]*/
  .square {
    width: 3.9em;
    height: 3.9em;
  }
}
@media only screen and (max-width: 1024px) {
  /*Tablets [769px -> 1024px]*/
  .square {
    width: 3.8em;
    height: 3.8em;
  }
}
@media only screen and (max-width: 1000px) {
  /*Tablets [769px -> 1024px]*/
  .square {
    width: 3.6em;
    height: 3.6em;
  }
}
@media only screen and (max-width: 952px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 3.3em;
    height: 3.3em;
  }
}
@media only screen and (max-width: 885px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 3.1em;
    height: 3.1em;
  }
}
@media only screen and (max-width: 834px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 3em;
    height: 3em;
  }
  .counter {
    font-size: 16px;
  }
}
@media only screen and (max-width: 799px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 2.9em;
    height: 2.9em;
  }
  .counter {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 4.4em;
    height: 4.4em;
  }
  .counter {
    font-size: 20px;
  }
}
@media only screen and (max-width: 722px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 4.2em;
    height: 4.2em;
  }
  .counter {
    font-size: 18px;
  }
}
@media only screen and (max-width: 690px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 4em;
    height: 4em;
  }
  .counter {
    font-size: 18px;
  }
}
@media only screen and (max-width: 690px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 3.9em;
    height: 3.9em;
  }
  .counter {
    font-size: 16px;
  }
}
@media only screen and (max-width: 638px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 3.7em;
    height: 3.7em;
  }
  .counter {
    font-size: 15px;
  }
}
@media only screen and (max-width: 610px) {
  /*Big smartphones [601px -> 768px]*/
  .square {
    width: 3.5em;
    height: 3.5em;
  }
  .counter {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .square {
    width: 3.4em;
    height: 3.4em;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .square {
    width: 3.3em;
    height: 3.3em;
  }
}
@media only screen and (max-width: 525px) {
  /*Big smartphones [426px -> 600px]*/
  .square {
    width: 3em;
    height: 3em;
  }
}
@media only screen and (max-width: 478px) {
  /*Small smartphones [376px -> 425px]*/
  .square {
    width: 2.8em !important;
    height: 2.8em !important;
  }
  .counter {
    font-size: 12px;
  }
}
@media only screen and (max-width: 445px) {
  /*Small smartphones [376px -> 425px]*/
  .square {
    width: 2.6em !important;
    height: 2.6em !important;
  }
  .counter {
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [376px -> 425px]*/
  .square {
    width: 2.5em !important;
    height: 2.5em !important;
  }
  .counter {
    font-size: 12px;
  }
}
@media only screen and (max-width: 397px) {
  /*Small smartphones [376px -> 425px]*/
  .square {
    width: 2.3em !important;
    height: 2.3em !important;
  }
  .counter {
    font-size: 12px;
  }
}
@media only screen and (max-width: 375px) {
  /*Small smartphones [321px -> 375px]*/
  .square {
    width: 2.2em !important;
    height: 2.2em !important;
  }
  .counter {
    font-size: 12px;
  }
}
@media only screen and (max-width: 350px) {
  /*Small smartphones [321px -> 375px]*/
  .square {
    width: 2.1em !important;
    height: 2.1em !important;
  }
  .counter {
    font-size: 12px;
  }
}
@media only screen and (max-width: 340px) {
  /*Small smartphones [321px -> 375px]*/
  .square {
    width: 2em !important;
    height: 2em !important;
  }
  .counter {
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  /*Small smartphones [0px -> 320px]*/
  .square {
    width: 1.9em !important;
    height: 1.9em !important;
  }
  .counter {
    font-size: 10px;
  }
}
@media only screen and (max-width: 308px) {
  /*Small smartphones [0px -> 320px]*/
  .square {
    width: 1.8em !important;
    height: 1.8em !important;
  }
  .counter {
    font-size: 10px;
  }
}
@media only screen and (max-width: 290px) {
  /*Small smartphones [0px -> 320px]*/
  .square {
    width: 1.7em !important;
    height: 1.7em !important;
  }
  .counter {
    font-size: 10px;
  }
}
